In [9]:
import pandas as pd
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

In [12]:
data = pd.read_html('https://siwak.kemenag.go.id/siwak/tanah_wakaf_kab.php?_pid=cVFaODV0Sm5FVG1jb1hqSEFvbDJyUT09&_kid=aDY5SzVGOUhyL3JiTllqdVdVTkdSZz09')
df = pd.DataFrame(data[0])
df

        No Kantor Urusan Agama Jumlah Luas [Ha] Sudah Sertifikat            \
        No Kantor Urusan Agama Jumlah Luas [Ha]           Jumlah Luas [Ha]
0       1.               JAWAI     76      1601               65       988
1       2.               PALOH     30       704               22       636
2       3.           PEMANGKAT     63      1042               53       861
3       4.              SAMBAS     76       433               54       153
4       5.          SEJANGKUNG     52      2103               26       811
5       6.             SELAKAU     26       323               16       163
6       7.               TEBAS    114      1640               93      1431
7       8.       TELUK KERAMAT    153      5337              121      3764
8       9.      SAJINGAN BESAR      5        13                1         2
9      10.              GALING     83      5298                4        33
10     11.            TEKARANG     38       619               23       564
11     12.               SUBAH     13       286                2        15
12     13.            SEMPARUK     22       202                5        25
13     14.       JAWAI SELATAN     29       372                2        10
14     15.               SAJAD     34      1915               26      1675
15     16.              SEBAWI     32       816               22       727
16     17.            TANGARAN     56      1299               40      1057
17  Jumlah              Jumlah    902     24000              575     12914

   Belum Sertifikat
             Jumlah Luas [Ha]
0                11       614
1                 8        68
2                10       181
3                22       280
4                26      1291
5                10       160
6                21       209
7                32      1572
8                 4        11
9                79      5264
10               15        55
11               11       271
12               17       177
13               27       361
14                8       240
15               10        89
16               16       242
17              327     11087

In [11]:
df.to_excel('wakaf_sambas.xlsx')